@keyframes pulse {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host([hidden]) {
  display: none;
}



h1 {
  font-size: 40px;
  font-weight: 100;
  color: var(--app-page-first-color, #212121);
  @apply --app-page-h1;
}

h2 {
  color: var(--app-page-second-color, #666);
  font-weight: 100;
  font-size: 24px;
  @apply --app-page-h2;
}
h3 {
  color: var(--app-page-first-color, #212121);
  font-size: 18px;
  font-weight: bolder;
  @apply --app-page-h3;
}
h4 {
  color: var(--app-page-second-color, #666);
  font-size: 14px;
  font-weight: bolder;
  @apply --app-page-h4;
}
h5 {
  color: var(--app-page-second-color, #666);
  font-size: 12px;
  font-weight: 100;
  @apply --app-page-h5;
}
h6 {
  color: var(--app-page-second-color, #666);
  font-size: 10px;
  font-weight: 100;
  @apply --app-page-h6;
}
p {
  color: var(--app-page-second-color, #666);
  font-size: 14px;
  font-weight: 100;
  @apply --app-page-p;
}
blockquote {
  background: var(--app-page-blockquote-bg-color, #eeeeee);
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: inline-block;
  border-left: 5px solid var(--app-page-first-color, #212121);
  @apply --app-page-blockquote;
}
blockquote p{
  margin: 0;
  @apply --app-page-blockquote-p;
}
code {
  background: var(--app-page-blockquote-bg-color, #f7f7f7);
  padding: 0.2em;
  border-radius: 5px;
  @apply --app-page-code;
}
ul, ol {
  color: var(--app-page-second-color, #666);
  font-weight: 100;
  @apply --app-page-list;
  li {
    color: var(--app-page-second-color, #666);
    padding: 0.5em 0;
    @apply --app-page-list-li;
  }
}
a {
  color: var(--app-page-link-color, #FF4081);
  text-decoration: none;
  @apply --app-page-link;
}
a:hover {
  color: var(--app-page-link-hover-color, #212121);
  text-decoration: none;
  @apply --app-page-link-hover;
}
a:visited {
  text-decoration: underline;
  @apply --app-page-link-visited;
}

hr {
  border-color: var(--app-page-blockquote-bg-color, #f7f7f7);
}
card {
  display: block;
  padding: 1em;
  background-color: var(--app-page-white-bg-color, #fff);
  border-radius: 2px;
  margin: 0 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  @apply --app-page-card;
}

:host {
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  background-color: var(--app-page-bg-color, #fafafa);
  padding: 0em;
  @apply --app-page;
  .panel-left {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: calc(100% - var(--app-page-panel-right-width, 200px));
    height: 100vh;
    @apply --app-page-panel-left;
    &__title {
      margin: 0;
      text-transform: capitalize;
      padding: 0.5em 0.5em;
      @apply --app-page-title;
    }
    &__subtitle {
      margin: 0;
      padding: 0 1em;
      @apply --app-page-subtitle;
    }
    &__left-content {
      height: calc(100% - 1px);
      width: 100%;
      overflow-y: auto;
      @apply --app-page-title-left-content;
      &__left-content-down {
        padding: 2em 0;
      }
      &__iframe {
        width: 100%;
        height: 100vh;
      }
      &__zero > div {
        padding: 1em 2em;
      }
    }
  }
  .panel-right {
    width: var(--app-page-panel-right-width, 200px);
    border-left: 1px solid var(--app-page-panel-right-b-l-color, #e5e5e5);
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--app-page-panel-right-bg-color, #fff);
    box-sizing: border-box;
    @apply --app-page-panel-right;
    &__right-content {
      @apply --app-page-title-right-content;
    }
  }
}

:host([hide-panel-right]) {
  display: block;
  @apply --app-page-hide-panel-right;
  .panel-left {
    width: 100%;
    @apply --app-page-hide-panel-right-panel-left;
  }
}

@media(max-width: 960px) {
  :host([responsive]) {
   display: block;
   @apply --app-page-responsive;
   .panel-left {
     width: 100%;
     @apply --app-page-responsive-panel-left;
   }
   .panel-right {
     position: relative;
     border-left: 0;
     border-top: 1px solid var(--app-page-responsive-panel-right-b-t-color, #e5e5e5);
     width: 100%;
     @apply --app-page-responsive-panel-right;
   }
 }
}

.md-html {
  & pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background: var(--app-page-blockquote-bg-color, #eeeeee);
    border-radius: 3px;
  }
  & pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }
  & pre code.lang-html {
    color: #000080;
  }
  & pre code.lang-html .tag .attr-name{
    color: #008080;
  }
  & pre code.lang-html .tag .attr-value{
    color: #d14;
  }

  & pre code.lang-js {
    color: #000080;
  }
  & pre code.lang-js .keyword{
    color: #333;
    font-weight: bold;
  }
  & pre code.lang-js .string{
    color: #d14;
  }
  & pre code.lang-js .function{
    color: #0086b3;
  }
  & pre code.lang-js .number{
    color: #6f42c1;
  }

  & pre code.lang-css {
    color: #000080;
  }
  & pre code.lang-css .selector {
    color: #d14;
  }
  & pre code.lang-css .property {
    color: #0086b3;
  }
}

:host([fade-in]) {
  animation: pulse 1.5s;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #666;
  border-radius: 10px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #666;
  background-color: #555; }
